*.pyc
*.db
*~

html/
htmlcov/
coverage/
.coverage
.tox
nosetests.xml
build/
dist/
*.egg-info/
MANIFEST

bin/
include/
lib/
local/
man/
share/


*.log
pip-log.txt
pip-selfcheck.json

.DS_Store

env
site

.idea/

local.py
